<!doctype html>

<html>

<head>
    <title>Web Streamer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"/>
    <script src="../static/jquery.min.js"></script>
    <script src="../static/socket.io.js"></script>

</head>
<script>
var socket = io.connect('http://' + document.domain + ':' + location.port);

var getDir = function(dir) {
    socket.emit("getDir", {dir: dir}, function(result) {
        $("#dirList").html("");
        for(i in result) {
            if(result[i].isDir) {
                $("#dirList").append('<li><a href="#" onclick="getDir(\'' + result[i].path + '\');">' + result[i].name + '</a></li>')
            } else {
                $("#dirList").append('<li><a href="#" onclick="openFile(\'' + result[i].name + '\', \'' + result[i].path + '\');">' + result[i].name + '</a></li>')
            }
        }
    });
};

var openFile = function(name, file) {
    $("#video").html("");
    socket.emit("playStream", {name: name, file: file}, function() {
        $("#name").html(name);
        $("#video").html('<video width="640" height="480" id="video" autoplay controls><source src="/media" id="source" type="video/webm"> Your browser does not support the video tag. </video>');
        $("#video").get(0).play();
    });

}

$(document).ready(function() {
    $("#video").html('<video width="640" height="480" id="video" autoplay controls><source src="/media" id="source" type="video/webm"> Your browser does not support the video tag. </video>');

    getDir("/");

});
</script>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- File Selector -->
            <h4>Directory List</h4>
            <ul id="dirList">
            </ul>
        </div>
        <div class="col-md-8">
            <h4>Now Playing</h4>
            <h5 id="name"></h5>
            <div id="video">
            </div>
            <!-- Player for Server -->
        </div>

    </div>
</div>
</body>
